<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

    <title>COTTON CROP DISEASE DETECTION</title>

    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .card-style {
            background-color: #dcdcdc;

        }

        .content {
            padding: 15px;
            color: white;
            background-color: rgb(153, 156, 150);
            /* font-size: 1rem; */
        }

        @media (max-width: 430px) and (min-width: 200px) {


            .contents {
                font-size: 0.6rem;
                color: chartreuse;
            }

            .content-h1 {

                font-size: 1rem;
            }
        }

        .border img {
            border-radius: 15px;
            border: 2px solid black;
        }
    </style>
</head>

<body>

    <div>
        <img src="/static/images/cotton plant banner1.png" class="w3-border w3-padding" alt="Indian AI Production"
            style="width:100%">
    </div>




    <div class="container my-2">
        <div class="row mb-5">

            <div class="col-sm" style="margin-bottom: 23px;">
                <span class="border border-primary">
                    <img src="{{ user_image }}" alt="User Image" class="img-thumbnail">
                    <!-- <img src="{{pred_output}}" alt="User Image" class="img-thumbnail"> -->


                </span>
            </div>

            <div class="col-sm">

                <div>
                    <h1 style="padding: 15px; background-color: rgb(153, 156, 150); color: white;"
                        class="text-center mb-5 content-h1 rounded">
                        {{pred_output}} </h1>
                </div>

                <h3>Disease Name : </span></h3>
                <h3 style="line-height: 100%;">Attack of Leaf Sucking and Chewing Pests <br></h3>
                <hr class="w-100 mx-auto ">
                
                <h3>நோய் பெயர் : </span></h3>
                <h3 style="line-height: 100%;">இலை உறிஞ்சும் மற்றும் மெல்லும் பூச்சிகளின் தாக்குதல் <br></h3>
                <hr class="w-100 mx-auto ">
                
                <h3>रोग का नाम : </span></h3>
                <h3 style="line-height: 100%;">पत्ती चूसने और चबाने वाले कीटों का हमला <br></h3>
                <hr class="w-100 mx-auto ">
            </div>
        </div>


        <h1> Solution for Disease / நோய்க்கான தீர்வு /  रोग का समाधान /  രോഗത്തിനുള്ള പരിഹാരം /  వ్యాధికి పరిష్కారం : </h1>
        <p><strong>Use any one Systemic Insecticide, which contain<i> Flonicamid 50%/ Thiamethoxam 25% WG / Imidacloprid
                    17.8 Sl / Acetamiprid 20% SP.</i></strong></p>
        <p></p>
        <p>ஃப்ளோனிகாமிட் 50% / தியாமெதொக்சாம் 25% WG / Imidacloprid ஐக் கொண்ட எந்த ஒரு முறையான பூச்சிக்கொல்லியைப் பயன்படுத்தவும்
                    17.8 எஸ்.எல் / அசிடமிப்ரிட் 20% எஸ்.பி.</p>
                    
        <p>किसी भी एक प्रणालीगत कीटनाशक का उपयोग करें, जिसमें फ्लोनिकमिड 50% / थियामेथोक्साम 25% डब्ल्यूजी / इमिडाक्लोप्रिड हो
                    17.8 एसएल / एसिटामिप्रिड 20% एसपी।.</p>
                    
        <p>ഫ്ലോണിക്കാമിഡ് 50% / തിയാമെത്തോക്സാം 25% ഡബ്ല്യുജി / ഇമിഡാക്ലോപ്രിഡ് അടങ്ങിയിരിക്കുന്ന ഏതെങ്കിലും ഒരു സിസ്റ്റമിക് കീടനാശിനി ഉപയോഗിക്കുക
                    17.8 സ്ല / അസറ്റമിപ്രിഡ് 20% എസ്പി.</p>
                    
        <p>ఫ్లోనికామిడ్ 50% / థియామెథోక్సామ్ 25% WG / ఇమిడాక్లోప్రిడ్ కలిగి ఉన్న ఏదైనా ఒక దైహిక పురుగుమందును ఉపయోగించండి
                    17.8 Sl / Acetamiprid 20% SP.</p>
                
    </div>



    <section>

        <div class="container">
            <h1 style="padding: 15px; background-color: rgb(153, 156, 150); color: white;"
                class="text-center my-3 content-h1">
                Recommended Products</h1>
        </div>

        <div class="container">


            <div class="card-columns">
                <div class="card ">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 10px;" class="img-fluid" src="/static/images/preet.png" alt="">
                        <h3 class="card-text">Dose: 60-80 gm/Acre</h3>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 10px;" class="img-fluid" src="/static/images/ulala.png" alt="">
                        <h3 class="card-text">Dose: 25-40 gm/Acre</h3>
                    </div>
                </div>
                <div class="card ">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 10px" class="img-fluid" src="/static/images/victor.png" alt="">
                        <h3 class="card-text">Dose: 60-80 gm/Acre</h3>
                    </div>
                </div>
                <div class="card ">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 10px;" class="img-fluid" src="/static/images/confidor.png" alt="">
                        <h3 class="card-text">Dose: 25-35 ml/Acre</h3>
                    </div>
                </div>
                <div class="card ">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 10px;" class="img-fluid" src="/static/images/panama.png" alt="">
                        <h3 class="card-text">Dose: 60-80 gm/Acre</h3>
                    </div>
                </div>
                <div class="card ">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 10px;" class="img-fluid" src="/static/images/actara.png" alt="">
                        <h3 class="card-text">Dose: 60-80 gm/Acre</h3>
                    </div>
                </div>


            </div>

            <!-- <div class="container-fluid contents"> -->
            <h5 style="padding: 15px; background-color: rgb(153, 156, 150); color: white;"
                class="text-center my-3 contents">
                © GladwinRojer / JayaSurya</h5>
            <!-- </div> -->
        </div>

    </section>

</body>

</html>